<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "shadesofshapes.com"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Shades Of Shapes</name>

    <description>
        the game that cures world hunger
    </description>

    <author href="shadesOfShapes.com" email="nguyenproas@hotmail.com">
        Nguyen Nguyen
    </author>

    <preference name = "orientation" value = "portrait" />

</widget>